<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <connectionStrings>
    <add name="Ef6Test" connectionString="Data Source=(local)\MSSQL13; Initial Catalog=Ef6Test; Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>

</configuration>
