<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="coveralls.net" version="0.7.0" targetFramework="net48" developmentDependency="true" />
  <package id="MSTest.TestAdapter" version="2.2.8" targetFramework="net48" />
  <package id="MSTest.TestFramework" version="2.2.8" targetFramework="net48" />
  <package id="OpenCover" version="4.7.1221" targetFramework="net48" />
  <package id="ReportGenerator" version="5.0.0" targetFramework="net48" />
  <package id="System.ServiceModel.Http" version="4.9.0" targetFramework="net48" />
  <package id="System.ServiceModel.Primitives" version="4.9.0" targetFramework="net48" />
</packages>