<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>

  <nlog internalLogToTrace="true" throwExceptions="true">
    <targets>
      <target type="BufferingWrapper"
              slidingTimeout="False"
              bufferSize="10000"
              name="VerboseBufferingWrapper">
        <target name="verbose1" type="File" fileName="${basedir}/App_Data/verbose1.log.xml" layout="${log4jxmlevent:includeSourceInfo=false:includeCallSite=true:includeMDC=false:appInfo=false:includeNDC=false:includeNLogData=true:indentXml=true}" />
      </target>
      <target type="AsyncWrapper"
              queueLimit="10000"
              timeToSleepBetweenBatches="50"
              batchSize="100"
              overflowAction="Discard"
              name="VerboseAsyncWrapper">
        <target name="verbose2" type="File" fileName="${basedir}/App_Data/verbose2.log.xml" layout="${log4jxmlevent:includeSourceInfo=false:includeCallSite=true:includeMDC=false:appInfo=false:includeNDC=false:includeNLogData=true:indentXml=true}" />
      </target>
      <target name="verbose3" type="File" fileName="${basedir}/App_Data/verbose3.log.xml" layout="${log4jxmlevent:includeSourceInfo=false:includeCallSite=true:includeMDC=false:appInfo=false:includeNDC=false:includeNLogData=true:indentXml=true}" />
    </targets>
    <rules>
      <logger name="Routine1:*" minlevel="Debug" writeTo="VerboseBufferingWrapper" />
      <logger name="Routine2:*" minlevel="Debug" writeTo="VerboseAsyncWrapper" />
      <logger name="Routine3:*" minlevel="Debug" writeTo="verbose3" />
    </rules>
  </nlog>
</configuration>