@*@model Exception

<div style="cursor:pointer; background-color:mistyrose; color:darkred; width:100%; max-width:100%; border-width:0em; padding:0.5em" onclick="$(this).slideUp(300);">@Html.MarkdownException(Model)</div>*@

