.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: "liga";
}

.dc-exception {
  cursor: pointer;
  background-color: lightgray;
  color: darkred;
  width: 100%;
  max-width: 100%;
  border-width: 0em;
  padding: 0.5em;
}

.dc-exception p code {
  background-color: lightgray;
}

.dc-exception p {
  margin-left: 0.2em;
}

.btn-xsm {
  padding: 0.2rem 0.4rem;
  font-size: 0.7rem;
  border-radius: 0.16rem;
}

.btn-xsm .material-icons {
  font-size: 0.98rem;
  padding: 0 0;
  margin: 0 0;
}

.adminka-action-button-group .btn-sm {
  padding-left: 0px;
  padding-right: 0px;
  color: black;
}

.adminka-action-button-group .btn-xsm {
  padding-left: 0px;
  padding-right: 0px;
  color: black;
}

.adminka-action-button-group .btn-sm:hover {
  color: #0d6efd;
}

.adminka-action-button-group .btn-xsm:hover {
  color: #0d6efd;
}

.adminka-action-button-group .material-icons {
  vertical-align: bottom;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.btn-logo {
  padding: 0 0;
  margin: 0 0 !important;
  border-width: 0;
}

.btn-logo:active {
  color: #0d6efd;
  border: 0px none black !important;
}

.table, .table th, .table td {
  border-left: 0px none black;
  border-right: 0px none black;
}

#svg:hover {
  fill: #0d6efd;
}

.badge .material-icons {
  font-size: 0.7rem;
  vertical-align: bottom;
  margin-right: 0.2rem;
}

.dropdown-toggle {
  color: black;
}

.dropdown-item:hover {
  color: #0d6efd;
}

.dropdown-item:active {
  color: white;
}

.dropdown-toggle:hover {
  text-decoration: none;
}

a.badge {
  color: black;
  font-size: 72%;
  padding-left: 0px;
  padding-right: 0.3rem;
}

a.badge:hover {
  color: #0d6efd;
  text-decoration: none;
}

a.badge.scratched:hover {
  text-decoration: line-through;
}

a.badge::before {
  font-family: "Material Icons";
  font-size: 0.7rem;
  vertical-align: top;
  margin-right: 0.2rem;
  vertical-align: bottom;
  content: "insert_drive_file";
  -webkit-font-feature-settings: "liga" 1;
  -moz-font-feature-settings: "liga" 1;
  font-feature-settings: "liga" 1;
}

.scratched {
  text-decoration: line-through;
}

.adminka-form-group-bsmultiselect-scratched .badge > span {
  text-decoration: line-through;
}

.h-input {
  min-height: calc(2.25rem + 2px);
}

dl.row > dt {
  font-weight: normal;
}

.page-item.active .page-link {
  z-index: 1;
  color: #fff;
  background-color: black;
  border-color: black;
}

.page-link {
  color: black;
}

.paginate_button {
  font-size: small;
}

.adminka-title {
  border-bottom: 1px solid #e5e3e3;
  padding-bottom: 1rem;
  margin-bottom: 1.5rem;
}

.adminka-buttons::before {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
  font-size: calc(1.275rem + 0.3vw);
}
@media (min-width: 1200px) {
  .adminka-buttons::before {
    font-size: 1.5rem;
  }
}

.adminka-buttons-create::before {
  content: "Are you sure you want to create this?";
}

.adminka-buttons-update::before {
  content: "Are you sure you want to save changes?";
}

.adminka-buttons-delete::before {
  content: "Are you sure you want to delete this?";
}

.adminka-icon-before {
  position: relative;
}

.adminka-icon-before::before {
  font-family: "Material Icons";
  font-size: 150%;
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.2rem;
  content: "arrow_back";
  line-height: 0;
  -webkit-font-feature-settings: "liga" 1;
  -moz-font-feature-settings: "liga" 1;
  font-feature-settings: "liga" 1;
}

.adminka-icon-before-back::before {
  content: "arrow_back";
  margin-bottom: 0.3rem;
}

.adminka-icon-before-edit::before {
  content: "edit";
  margin-bottom: 0.3rem;
}

.adminka-icon-before-delete::before {
  content: "delete";
  margin-bottom: 0.3rem;
}

.adminka-icon-before-clear::before {
  content: "clear";
  margin-bottom: 0.3rem;
}

a.adminka-navigation {
  color: #000;
}

a.adminka-navigation:hover {
  color: #0d6efd;
  text-decoration: none;
}

/*# sourceMappingURL=site.css.map */
