<?xml version="1.0" encoding="utf-8"?>
<!--internalLogFile="c:\temp\internal-nlog.txt"-->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogToTrace="true" 
      throwExceptions="true">

  <extensions>
    <!-- NLog.MailKit used for Core only-->
    <add assembly="NLog.MailKit"/>
    <add assembly="DashboardCode.NLogTools" />
  </extensions>
  <targets>
    <target type="BufferingWrapper" slidingTimeout="False" bufferSize="10000" name="VerboseBufferingWrapper">
      <target name="verbose1" type="File" fileName="${basedir}/App_Data/verbose1.log.xml" layout="${log4jxmlevent:includeSourceInfo=false:includeCallSite=true:includeMDC=false:appInfo=false:includeNDC=false:includeNLogData=true:indentXml=true}"/>
    </target>
    <target type="AsyncWrapper" queueLimit="10000" timeToSleepBetweenBatches="50" batchSize="100" overflowAction="Discard" name="VerboseAsyncWrapper">
      <target name="verbose2" type="File" fileName="${basedir}/App_Data/verbose2.log.xml" layout="${log4jxmlevent:includeSourceInfo=false:includeCallSite=true:includeMDC=false:appInfo=false:includeNDC=false:includeNLogData=true:indentXml=true}"/>
    </target>
    <target name="verbose3" type="File" fileName="${basedir}/App_Data/verbose3.log.xml" layout="${log4jxmlevent:includeSourceInfo=false:includeCallSite=true:includeMDC=false:appInfo=false:includeNDC=false:includeNLogData=true:indentXml=true}"/>
    <!-- https://github.com/nlog/NLog/wiki/Mail-target -->
    <!-- useSystemNetMailSettings, deliveryMethod, pickupDirectoryLocation not supported for Core -->
    <target name="notifyMail" type="Mail"
            subject="Error Message ${event-properties:item=Number}"
            to="roman@dashboardcode.com" bcc="" cc="" from="roman@dashboardcode.com"
            header="" body="${log4jxmlevent:includeSourceInfo=false:includeCallSite=true:includeMDC=false:appInfo=false:includeNDC=false:includeNLogData=true:indentXml=true}"  footer=""
            encoding="UTF-8"  html="False" addNewLines="true" replaceNewlineWithBrTagInHtml="True"
            smtpServer="127.0.0.1" smtpPort="25"
            smtpAuthentication="None" smtpPassword="" smtpUserName="" enableSsl="false"
            timeout="10000"
            />
  </targets>
  <rules>
    <logger name="Routine1:*" minlevel="Debug" writeTo="VerboseBufferingWrapper"/>

    <logger name="Routine2:*" minlevel="Debug" writeTo="VerboseAsyncWrapper"/>
    <logger name="Routine3:*" minlevel="Debug" writeTo="verbose3"/>

    <logger name="MailTest:*" minlevel="Debug" writeTo="verbose3"/>
    <logger name="MailTest:*" minlevel="Debug" writeTo="notifyMail">
      <filters>
        <when condition="daycount()>5" action="Ignore"/>
      </filters>
    </logger>
  </rules>
</nlog>  