/*
    This overrides next bootstrap rule:
        .table > :not(caption) > * > * {
                background-color: $somecolor;
        }
    TODO: parametrize the color
*/
.table.crud-table > :not(caption) > tr.crud-table-selected-row > * {
    background-color: mistyrose;
}

.table.crud-table > :not(caption) > tr > th > .crud-table-selected-total {
    display: inline-flex;
    white-space: nowrap;
    gap: 0.5rem;
}

.adminka-switch {
    width: 2.28rem;
    height: 1.32rem;
    background: rgb(222, 226, 230);
    border-radius: 999px;
    position: relative;
    border: 1px solid darkgrey;
}

.adminka-switch[data-state='checked'] {
    background: rgb(13, 110, 253);
    border-color: rgb(13, 110, 253);
}

    .adminka-switch .adminka-thumb {
        width: 1.2rem;
        height: 1.2rem;
        background: white;
        border-radius: 999px;
        position: absolute;
        top: 0px;
        left: -1px;
        transition: transform 0.1s ease;
        border: 1px solid darkgrey;
    }

    .adminka-switch[data-state='checked'] .adminka-thumb {
        transform: translateX(1rem);
    }

.slide-panel {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    opacity: 0;
    transform: translateX(-20px);
    transition: opacity 0.3s ease, transform 0.3s ease;
    pointer-events: none;
}

    .slide-panel.show {
        opacity: 1;
        transform: translateX(0);
        pointer-events: auto;
    }