@import "customBootstrap";
@import "old";

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: local('Material Icons'), local('MaterialIcons-Regular'), url(~material-design-icons/iconfont/MaterialIcons-Regular.woff2) format('woff2'), url(~material-design-icons/iconfont/MaterialIcons-Regular.woff) format('woff'), url(~material-design-icons/iconfont/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px; /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
    /* Support for IE. */
    font-feature-settings: 'liga';
}

.dc-exception {
    cursor: pointer;
    background-color: lightgray;
    color: darkred;
    width: 100%;
    max-width: 100%;
    border-width: 0em;
    padding: 0.5em
}

.dc-exception p code {
    background-color: lightgray;
}

.dc-exception p {
    margin-left: 0.2em;
}

$btn-padding-y-xsm: $btn-padding-y-sm*0.8;
$btn-padding-x-xsm: $btn-padding-x-sm*0.8;
$font-size-xsm: $font-size-sm*0.8;
$btn-line-height-xsm: $btn-line-height-sm*0.8;
$btn-border-radius-xsm: $btn-border-radius-sm*0.8;

.btn-xsm {
    padding: 0 0; //$btn-padding-y-xsm $btn-padding-x-xsm;
    margin: 0 0 !important;
    border-width: 0;
    font-size: $font-size-xsm;
    line-height: $btn-line-height-xsm;
    border-radius: $btn-border-radius-xsm;
}


.btn-xsm:active {
    color: $primary;
    border: 0px none black !important;
    font-size: smaller;
}

.adminka-action-button-group .btn-sm {
    padding-left: 0px;
    padding-right: 0px;
    color: black;
}

.adminka-action-button-group .btn-xsm {
    padding-left: 0px;
    padding-right: 0px;
    color: black;
}

.adminka-action-button-group .btn-sm:hover {
    color: $primary;
}

.adminka-action-button-group .btn-xsm:hover {
    color: $primary;
}

.adminka-action-button-group .material-icons {
    vertical-align: bottom;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.btn-logo {
    padding: 0 0; //$btn-padding-y-xsm $btn-padding-x-xsm;
    margin: 0 0 !important;
    border-width: 0;
}

.btn-logo:active {
    color: $primary;
    border: 0px none black !important;
}

.btn-xsm .material-icons {
    font-size: $font-size-xsm*1.4;
    padding: 0 0;
    margin: 0 0;
}

a.badge::before {
    font-family: 'Material Icons';
    font-size: 0.7rem;
    vertical-align: top;
    margin-right: 0.2rem;
    vertical-align: bottom;
    content: 'insert_drive_file';
    -webkit-font-feature-settings: 'liga' 1;
    -moz-font-feature-settings: 'liga' 1;
    font-feature-settings: 'liga' 1;
}

.table, .table th, .table td {
    border-left: 0px none black;
    border-right: 0px none black;
}

#svg:hover {
    fill: $primary;
}

.badge .material-icons{
    font-size:0.7rem; 
    vertical-align:bottom; 
    margin-right:0.2rem;
}

.dropdown-toggle {
    color: black;
}

.adminka-navigation {
    color: black;
}

.adminka-navigation:hover {
    color: $primary;
    text-decoration: none;
}

a.adminka-navigation-list::before {
    font-family: 'Material Icons';
    font-size: 170%;
    vertical-align: middle;
    margin-right: 0.2rem;
    content: 'view_list';
    -webkit-font-feature-settings: 'liga' 1;
    -moz-font-feature-settings: 'liga' 1;
    font-feature-settings: 'liga' 1;
}

a.adminka-navigation-edit::before {
    font-family: 'Material Icons';
    font-size: 170%;
    vertical-align: middle;
    margin-right: 0.2rem;
    content: 'edit';
    -webkit-font-feature-settings: 'liga' 1;
    -moz-font-feature-settings: 'liga' 1;
    font-feature-settings: 'liga' 1;
}

a.adminka-navigation-delete::before {
    font-family: 'Material Icons';
    font-size: 170%;
    vertical-align: middle;
    margin-right: 0.2rem;
    content: 'delete';
    -webkit-font-feature-settings: 'liga' 1;
    -moz-font-feature-settings: 'liga' 1;
    font-feature-settings: 'liga' 1;
}

a.adminka-navigation-details::before {
    font-family: 'Material Icons';
    font-size: 170%;
    vertical-align: middle;
    margin-right: 0.2rem;
    content: 'insert_drive_file';
    -webkit-font-feature-settings: 'liga' 1;
    -moz-font-feature-settings: 'liga' 1;
    font-feature-settings: 'liga' 1;
}