@import "custom";
@import "../node_modules/bootstrap/scss/bootstrap";
@import "old";

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: local('Material Icons'), local('MaterialIcons-Regular'), url(~material-design-icons/iconfont/MaterialIcons-Regular.woff2) format('woff2'), url(~material-design-icons/iconfont/MaterialIcons-Regular.woff) format('woff'), url(~material-design-icons/iconfont/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px; /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
    /* Support for IE. */
    font-feature-settings: 'liga';
}

/* Carousel */
/*.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}*/

/* Make .svg files in the carousel display properly in older browsers */
/*.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}*/

/* Hide/rearrange for smaller screens */
/*@media screen and (max-width: 767px) {
    .carousel-caption {
        display: none;
    }
}*/

.dc-exception {
    cursor: pointer;
    background-color: lightgray;
    color: darkred;
    width: 100%;
    max-width: 100%;
    border-width: 0em;
    padding: 0.5em
}

.dc-exception p code {
    background-color: lightgray;
}

.dc-exception p {
    margin-left: 0.2em;
}

.dashboardcode-btn-table {
    color: #000000;
    border-color: transparent;
    background-color: transparent;
    cursor: pointer;
    border-radius: $btn-border-radius-sm;
}

.dashboardcode-btn-table-th {
    margin-bottom: -1.1rem;
}

.dashboardcode-modify-buttons-panel {
    margin-left: 1.8rem;
    margin-top: -0.8rem;
    white-space: nowrap;
}

$btn-padding-y-xsm: $btn-padding-y-sm*0.8;
$btn-padding-x-xsm: $btn-padding-x-sm*0.8;
$font-size-xsm: $font-size-sm*0.8;
$btn-line-height-xsm: $btn-line-height-sm*0.8;
$btn-border-radius-xsm: $btn-border-radius-sm*0.8;

.btn-xsm {
    padding: 0 0; //$btn-padding-y-xsm $btn-padding-x-xsm;
    margin: 0 0 !important;
    border-width: 0;
    font-size: $font-size-xsm;
    line-height: $btn-line-height-xsm;
    border-radius: $btn-border-radius-xsm;
}

.btn-xsm:active {
    color:$primary;
    border:0px none black !important;
}

.dashboardcode-btn-table:active {
    color: $primary;
    border: 0px none black !important;
}


.btn-xsm .material-icons {
    font-size: $font-size-xsm*1.4;
    padding: 0 0;
    margin: 0 0;
}

.table, .table th, .table td {
    border-left: 0px none black;
    border-right: 0px none black;
}

/*h3 {

    margin-left: 1.5rem;
}*/