<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="routinesConfiguration" type="Vse.Routines.Configuration.RoutinesConfigurationSection, Vse.Routines.Configuration" allowDefinition="Everywhere" allowExeDefinition="MachineToApplication" restartOnExternalChanges="false" />
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>

  <connectionStrings>
    <add name="adminka" connectionString="Data Source=(local)\MSSQL13; Initial Catalog=Adminka; Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  <routinesConfiguration>
    <routine>
      <resolvable type="AdminkaDbContextConfiguration" value="{ApplyMigrations:true, CreateDatabaseIfNotExists:true}" />
      <resolvable type="AdConfiguration" value="{UseAdAuthorization:false}" />
      <resolvable type="FakeAdConfiguration" value="{FakeAdUser:'FakeDomain\\rpokrovskij', FakeAdGroups:['FakeDomain\\Administrators','FakeDomain\\Testers']}" />
    </routine>
    <routine class="ConfigurationUnitTest" member="ReadConfiguration">
      <resolvable type="LoggingConfiguration" value="{StartActivity:true, FinishActivity:true, Input:true, Output:false, Verbose:true, UseBufferForVerbose:true, VerboseWithStackTrace:true }" />
      <resolvable type="LoggingPerformanceConfiguration" value="{Category:'test', ThresholdSec:0.1}" />
    </routine>
  </routinesConfiguration>
  
  <nlog internalLogToTrace="true">
    <targets>
      <target name="authentication" type="File" fileName="${basedir}/App_Data/authentication.log.txt" enableArchiveFileCompression="true" archiveFileName="${basedir}/App_Data/authentication.{#####}.zip" archiveNumbering="Date" maxArchiveFiles="3" archiveEvery="Month" layout="${date:format=dd.MM.yy HH\:mm\:ss}; ${event-context:item=Class}.${event-context:item=Member}; ${event-context:item=Namespace}; ${event-context:item=CorrelationToken}; ${message}" />
      <target name="activities" type="File" fileName="${basedir}/App_Data/activities.log.txt" enableArchiveFileCompression="true" archiveFileName="${basedir}/App_Data/activities.{#####}.zip" archiveNumbering="Date" maxArchiveFiles="3" archiveEvery="Month" layout="${date:format=dd.MM.yy HH\:mm\:ss}; ${event-context:item=Class}.${event-context:item=Member}; ${event-context:item=Namespace}; ${event-context:item=CorrelationToken}; ${message}" />
      <target name="verbose" type="File" fileName="${basedir}/App_Data/verbose.log.xml" enableArchiveFileCompression="true" archiveFileName="${basedir}/App_Data/verbose.{#####}.zip" archiveNumbering="Date" maxArchiveFiles="3" archiveEvery="Month" layout="${log4jxmlevent:includeSourceInfo=false:includeCallSite=true:includeMDC=true:appInfo=true:includeNDC=false:includeNLogData=true:indentXml=true}" />
    </targets>
    <rules>
      <logger name="Routine.*" level="Trace" writeTo="activities" />
      <logger name="Routine.*" minlevel="Debug" writeTo="verbose" />
      <logger name="Authetication.*" minlevel="Debug" writeTo="authentication" />
    </rules>
  </nlog>
   <runtime>
      <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
         <dependentAssembly>
            <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
            <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
         </dependentAssembly>
         <dependentAssembly>
            <assemblyIdentity name="System.IO.Compression" publicKeyToken="b77a5c561934e089" culture="neutral" />
            <bindingRedirect oldVersion="0.0.0.0-4.1.2.0" newVersion="4.1.2.0" />
         </dependentAssembly>
      </assemblyBinding>
   </runtime>
</configuration>