{
  "presets": [
    [
      "@babel/preset-env", // plugin's list: https://github.com/babel/babel/blob/main/packages/babel-preset-env/package.json
      {
        "loose": true,
        "modules": false,
        "useBuiltIns": "usage",
        "corejs": 3,
        "include": [

        ],
        "debug": true // additional information to output like plugins used
        // exclude: ['@babel/plugin-transform-regenerator'], // use it to prevent transform into async/await into ES5 
      }
    ],
    "@babel/react", // plugin's list: https://github.com/babel/babel/blob/main/packages/babel-preset-react/package.json
    "@babel/preset-typescript" // plugin's list: https://github.com/babel/babel/blob/main/packages/babel-preset-typescript/package.json
  ]
}