{
  // TODO: change plugins etc. https://blogs.msdn.microsoft.com/typescript/2018/08/27/typescript-and-babel-7/
  "plugins": [ "babel-plugin-transform-class-properties"],
  "presets": [
    "@babel/typescript",
    [
      "@babel/env",
      {
        "modules": "false",
        "targets": {
          "browsers": [
            "last 2 chrome versions",
            "ie 11",
            "safari 11",
            "edge 15",
            "firefox 59"
            //  bootsrap set:
            //  "chrome  >= 45",
            //  "Firefox >= 38",
            //  "Explorer >= 10",
            //  "edge >= 12",
            //  "iOS >= 9",
            //  "Safari >= 9",
            //  "Android >= 4.4",
            //  "Opera >= 30"
          ]
        },
        "debug": true
      }
    ]
  ]
}