<div class="modal fade" id="modalAppliactionErrorDialog" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog adminka-error modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
            <div class="adminka-error-header">
                <span class="adminka-error-title">Error</span>
            </div>
            <div class="container pt-4 px-5">
                <div class="row ">
                    <div class="view-group col-md-6">
                        <label>CorrelationToken</label>
                        <div class="text-field adminka-error-text-field-correlation-token">Model.CorrelationToken</div>
                    </div>

                    <div class="view-group col-md-6 adminka-error-advanced">
                        <label>ASP Request ID</label>
                        <div class="text-field adminka-error-text-field-asp-request">Model.ASP Request IDs</div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div>
                            <p class="adminka-error-text-field-message" style="font-weight:600; font-size:18px">There was been a problem with the website. We are working on resolving it.</p>
                        </div>
                    </div>
                </div>
                <div class="row adminka-error-advanced">
                    <div class="col-md-12">
                        <div class="pre-scrollable adminka-error-details">
                        </div>
                    </div>
                </div>
                <div class="offset-sm-3 col-sm-6 my-3 " style="text-align:center">
                    <button class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
