@page
@model GroupCreateModel
@{
    ViewData["SubTitle"] = "Create Group";
}

@section Messages {
    <partial name="_MessagesPartial" />
}

<form method="post" class="adminka-panel" id="adminka-form-group-create-id">
    <input hidden asp-for="@Model.Crud.Referrer.Href" name="Referrer" type="hidden" />

    <div class="adminka-title d-flex flex-row justify-content-between align-items-center">
        <h3>Create Group</h3>
        <a class="adminka-navigation adminka-icon-before adminka-icon-before-clear" href="@Model.Crud.Referrer.Href"></a>
    </div>

    <div class="adminka-form-container">
        <partial name="GroupEditPartial" />

        <div class="adminka-buttons adminka-buttons-create">
            <div class="form-group">
                <div class="d-flex flex-row">
                    <button type="submit" class="btn btn-primary">Create</button>
                    <a class="btn btn-secondary adminka-icon-before adminka-icon-before-back ml-3" href="@Model.Crud.Referrer.Href">Go Back</a>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_MultiSelectScriptPartial" />
}