<configuration>
  <configSections>
    <section name="routinesConfiguration" type="Vse.Routines.Configuration.RoutinesConfigurationSection, Vse.Routines.Configuration" allowDefinition="Everywhere" allowExeDefinition="MachineToApplication" restartOnExternalChanges="false" />
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  
  <connectionStrings>
    <add name="adminka" connectionString="Data Source=(local)\MSSQL13; Initial Catalog=Adminka; Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <routinesConfiguration>
    <routine>
      <resolvable type="AdminkaDbContextConfiguration" value="{ApplyMigrations:true, CreateDatabaseIfNotExists:true}" />
      <resolvable type="AdConfiguration" value="{UseAdAuthorization:false}" />
      <resolvable type="FakeAdConfiguration" value="{FakeAdUser:'FakeDomain\\rpokrovskij', FakeAdGroups:['FakeDomain\\Administrators','FakeDomain\\Testers']}" />
    </routine>
  </routinesConfiguration>

  <nlog internalLogToTrace="true">
    <targets>
      <!-- Setup AsyncWrapper (occupies additional thread) or BufferingWrapper (blocks all users on flush) if you need -->
      <target name="authentication" type="File" fileName="${basedir}/App_Data/authentication.log.txt" enableArchiveFileCompression="true" archiveFileName="${basedir}/App_Data/authentication.{#####}.zip" archiveNumbering="Date" maxArchiveFiles="3" archiveEvery="Month"  layout="${date:format=dd.MM.yy HH\:mm\:ss}; ${event-context:item=Title}; ${message}" />
      <target name="activities" type="File" fileName="${basedir}/App_Data/activities.log.txt" enableArchiveFileCompression="true" archiveFileName="${basedir}/App_Data/activities.{#####}.zip"  archiveNumbering="Date" maxArchiveFiles="3" archiveEvery="Month"  layout="${date:format=dd.MM.yy HH\:mm\:ss}; ${event-context:item=Title}; ${message}" />
      <target name="verbose" type="File" fileName="${basedir}/App_Data/verbose.log.xml" enableArchiveFileCompression="true" archiveFileName="${basedir}/App_Data/verbose.{#####}.zip" archiveNumbering="Date" maxArchiveFiles="3" archiveEvery="Month" layout="${log4jxmlevent:includeSourceInfo=false:includeCallSite=true:includeMDC=true:appInfo=true:includeNDC=false:includeNLogData=true:indentXml=true}" />
    </targets>
    <rules>
      <logger name="Routine:*" level="Trace"    writeTo="activities" />
      <logger name="Routine:*" minlevel="Debug" writeTo="verbose" />
      <logger name="Authentication" minlevel="Debug" writeTo="authentication" />
    </rules>
  </nlog>
</configuration>
