<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_TraceService" receiveTimeout="00:10:00"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:64220/TraceService.svc" 
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_TraceService" 
                contract="TraceServiceReference.TraceService" name="BasicHttpBinding_TraceService"/>
    </client>
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/></startup></configuration>
