<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="routinesConfiguration" type="Vse.Routines.Configuration.NETFramework.RoutinesConfigurationSection, Vse.Routines.Configuration.NETFramework" allowDefinition="Everywhere" allowExeDefinition="MachineToApplication" restartOnExternalChanges="false"/>
  </configSections>
  <routinesConfiguration>
    <routine class="ConfigurationUnitTest" member="*" for="*">
      <resolvable type="TestConfiguration" value="{_Value:10}"/>
    </routine>
    <routine class="ConfigurationUnitTest" member="*" for="superuser">
      <resolvable type="TestConfiguration" value="{_Value:100}"/>
    </routine>
    <routine class="*" member="*" for="testuser">
      <resolvable type="TestConfigurationX" value="{_Value:77}"/>
    </routine>

    <routine class="ConfigurationUnitTest" member="TestState">
      <resolvable type="LoggingConfiguration" value="{StartActivity:true, FinishActivity:true, Input:true, Output:false, Verbose:true, UseBufferForVerbose:true, VerboseWithStackTrace:true }"/>
      <resolvable type="LoggingPerformanceConfiguration" value="{Category:'test', ThresholdSec:0.1}"/>
      <resolvable type="LoggingPerformanceConfiguration" value="{Category:'test', ThresholdSec:55}"/> <!-- will be ignored -->
    </routine>
    <routine class="ConfigurationUnitTest" member="TestState" for="superuser">
      <resolvable type="LoggingConfiguration" value="{StartActivity:true, FinishActivity:true, Input:true, Output:true, Verbose:true, UseBufferForVerbose:true, VerboseWithStackTrace:true }"/>
      <resolvable type="LoggingPerformanceConfiguration" value="{Category:'test', ThresholdSec:0.5}"/>
    </routine>
    <routine namespace="theNamespace" class="ConfigurationUnitTest" member="TestConfigruationContainer">
      <resolvable type="LoggingConfiguration" value="{StartActivity:true, FinishActivity:true, Input:true, Output:true, Verbose:true, UseBufferForVerbose:true, VerboseWithStackTrace:true }"/>
      <resolvable type="LoggingPerformanceConfiguration" value="{Category:'test', ThresholdSec:2}"/>
    </routine>
  </routinesConfiguration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/></startup></configuration>
