<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="routinesConfiguration" type="DashboardCode.Routines.Configuration.NETFramework.RoutinesConfigurationSection, DashboardCode.Routines.Configuration.NETFramework" allowDefinition="Everywhere" allowExeDefinition="MachineToApplication" restartOnExternalChanges="false"/>
  </configSections>
  <routinesConfiguration>
    <routine type="ConfigurationTest" member="*" for="*">
      <resolvable type="MyTestConfiguration" value="{_Value:10}"/>
    </routine>
    <routine type="ConfigurationTest" member="*" for="superuser">
      <resolvable type="MyTestConfiguration" value="{_Value:100}"/>
    </routine>
    <routine type="*" member="*" for="testuser">
      <resolvable type="MyTestConfigurationZZZ" value="{_Value:77}"/>
    </routine>

    <routine type="NETFrameworkObsoleteConfigurationTest" member="*" for="*">
      <resolvable type="MyTestConfiguration" value="{_Value:10}"/>
    </routine>
    <routine type="NETFrameworkObsoleteConfigurationTest" member="*" for="superuser">
      <resolvable type="MyTestConfiguration" value="{_Value:100}"/>
    </routine>
    <routine namespace="DashboardCode.Routines.Configuration.NETFramework.Test" type="*" member="*" for="testuser">
      <resolvable type="MyTestConfigurationZZZ" value="{_Value:77}"/>
    </routine>
    
    <routine type="ConfigurationTest" member="TestState">
      <resolvable type="LoggingConfiguration" value="{StartActivity:true, FinishActivity:true, Input:true, Output:false, Verbose:true, ShouldBufferVerbose:true, ShouldVerboseWithStackTrace:true }"/>
      <resolvable type="LoggingPerformanceConfiguration" value="{Category:'test', ThresholdSec:0.1}"/>
      <resolvable type="LoggingPerformanceConfiguration" value="{Category:'test', ThresholdSec:55}"/> <!-- will be ignored -->
    </routine>
    <routine type="ConfigurationTest" member="TestState" for="superuser">
      <resolvable type="LoggingConfiguration" value="{StartActivity:true, FinishActivity:true, Input:true, Output:true, Verbose:true, ShouldBufferVerbose:true, ShouldVerboseWithStackTrace:true }"/>
      <resolvable type="LoggingPerformanceConfiguration" value="{Category:'test', ThresholdSec:0.5}"/>
    </routine>
    <routine namespace="theNamespace" type="ConfigurationTest" member="TestConfigruationContainer">
      <resolvable type="LoggingConfiguration" value="{StartActivity:true, FinishActivity:true, Input:true, Output:true, Verbose:true, ShouldBufferVerbose:true, ShouldVerboseWithStackTrace:true }"/>
      <resolvable type="LoggingPerformanceConfiguration" value="{Category:'test', ThresholdSec:2}"/>
    </routine>
  </routinesConfiguration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/></startup></configuration>
